.DS_Store
.settings/
.cache/
__pycache__/
*.pyc

build/
/build*/
/out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build.ninja
.ninja_deps
.ninja_log
makefile

*.hex
*.bin
*.uf2
_Summary
ch582_wireless/
